/* *{
  background: #152028;
} */
html{
  background: #152028;
}
body{
  background: #152028;
}

#root{
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  width: 100vw;
  height: 100vh;
  align-content: space-around;
  margin: 5%;
  background: #152028;

}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  width: 100vw;
  height: 100vh;
  align-content: space-around;
  margin: 5%;

}
.grid-item{
  padding: 20px;
  font-size: 30px;
  text-align: center;

  ;                         
}
#root > div > div:nth-child(1) > div > div > div{
  color: #202945;
}
#root > div > div:nth-child(2) > div > div > div{
  color: #202945;
}
#root > div > div:nth-child(3) > div > div > div{
  color: #202945;
}
#root > div > div:nth-child(4) > div > div > div{
  color: #202945;
}
#root > div > div:nth-child(4) > div > div > div{
  color: #202945;
}
#root > div > div:nth-child(5) > div > div > div{
  color: #202945;
}
#root > div > div:nth-child(6) > div > div > div{
  color: #202945;
}
#root > div > div:nth-child(7) > div > div > div{
  color: #202945;
}
#root > div > div:nth-child(8) > div > div > div{
  color: #202945;
}
#root > div > div:nth-child(9) > div > div > div{
  color: #202945;
}
body > div.fade.modal.show > div > div{
  color: #202945;
}